@font-face {
    font-family: hello;
    src: url(./images/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

html, body{
    padding: 0;
    margin: 0;
  }
  html{
    height: 100%;
  }
  body{
    min-height: 100%;
  }
body{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/Users/elijahmoye/Desktop/resturant/Resturant/src/images/Background.png') ;
    background-repeat: repeat;
    background-size: cover;

}
#rat{
    display: flex;
    height: 25vh;
    width: 100vw;
    margin: 0px;
    justify-content: center;
}

#begin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* #nav{
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    row-gap: 50px;
} */

#nav > button{
margin: 10px;
margin-top: 0px;
height: 20px;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#store{
    margin: 20px;
}

#menus {

    display: flex;
    margin-top: 40px;
    height: 100px;

}
#AppSection,  #DessertSection,  #EntreSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* perfect but chang back */

#placement > img {
    border: 1px solid black;
    border-radius: 20px;
}

#placement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;

}
#placement > div {
    margin: 20px;
}
h1{
    font-size: 40px;
}

#placeChefs{
    display: flex;
    flex-direction: row;
}

#placeChefs > img {

    border: 1px solid black;
    border-radius: 20px;

}
#placeChefs > img, div{
    margin: 30px;
}

#Bio{
    font-size: 30px;
}
/* if you want a header background color set the first div of the html elements margin botton to 200px */